.container_checkbox {
  @apply block relative pl-[35px] mb-[12px] cursor-pointer text-[22px] ;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container_checkbox input {
    @apply absolute opacity-0 cursor-pointer ;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    @apply border-2 border-black bg-white absolute top-0 left-0 h-5 w-5;
  }

  /* When the checkbox is checked, add a blue background */
  .container_checkbox input:checked ~ .checkmark {
    background-color: white;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container_checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container_checkbox .checkmark:after {
    @apply border border-black left-[6px] top-[2px] w-[5px] h-[10px];
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .container_checkbox.disabled {
    @apply opacity-30;
  }